* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  background-color: #6c757d;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardProducto{
  width: 20rem;
  height: 28rem;
  margin: 1.25em;
  padding: 1.25em;
  border: solid black;
}

.cardProductoImg{
  max-width: 70%;
  max-height: 60%;
  align-self: center;
}

.cardProductoBtn{
  padding: 0.2rem;
  margin: 0.2rem;
}

.detailContainer{
  margin: 5rem;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  border: solid 1px;
  border-color: black;
}

.detailImg{
  width: 40%;
}

.detailTextContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detailTitle{
  margin: 0.5rem;
  padding: 0.5rem;
}

.detailText{
  margin:0.5rem;
  padding: 0.5rem;
}

.detailButtonContainer{
  display: flex;
  justify-content: space-evenly;
}

.detailButton{
  width: 5rem;
  height: 5rem;
  padding: 0.2rem;
  margin: 0.2rem;
}