@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body, html {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  background-color: #7746FA;
}

.nav-link {
  padding: 0 10px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: white;
}


.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardProducto {
  width: 20rem;
  height: 28rem;
  margin: 1.25em;
  padding: 1.25em;
  border: solid black;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}


.cardProductoImg{
  max-width: 70%;
  max-height: 60%;
  align-self: center;
}

.cardProductoBtn{
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: #5C4DFA;
  border-color: black;
}

.detailContainer{
  margin: 5rem;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  border: solid 1px;
  border-color: black;
}

.detailImg{
  width: 40%;
}

.detailTextContainer{
  flex: 1;
  margin-left: 4rem;
  text-align: center;
}

.detailTitle{
  font-size: 2rem;
  margin: 0;
}

.detailText{
  font-size: 1rem;
  margin: 1rem 0;
}

.detailPrice {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.detailButtonContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.detailButton{
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: #5C4DFA;
  border: black;
}

.detailAddButton{
  width: 6rem;
  height: 3rem;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: #5C4DFA;
  border: black;
}

.detailCountContainer{
  display: flex;
}

.detailLink{
  text-decoration: none;
  color: white;
  background-color: #5C4DFA;
  border: black;
}

.cartContainer{
  text-align: center;
}

.cartContainer--empty{
  margin: 5rem;
  padding: 5rem;
}

.cartContainerText--empty{
  margin: 1.5rem;
  padding: 1.5rem;
}

.cartContainerButton--empty{
  background-color: #5C4DFA;
  border: black;
}

.cartContainerProducts{
  padding: 1rem;
  margin: 1rem;
}